

<h1>Mis héroes</h1>
<!-- Lista de héroes -->
<ul class="heroes">
    <li *ngFor="let hero of heroes" routerLink="/detalle/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
            <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>
<!-- Fin Lista de héroes -->

<!-- Agregar un héroe -->
<div>
    <label>Nombre del Héroe:
        <input #heroName />
    </label>
    <button (click)="add(heroName.value); heroName.value=''">
        Agregar
    </button>
</div>
<!-- Fin Agregar un héroe -->